<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Register</h1>
    <form action="/auth/register" method="post">
        <input autocomplete="off" type="text" placeholder="username" name="username">
        <input autocomplete="off" type="password" placeholder="password" name="password">
        <input type="submit" value="Register">
    </form>

    <p>already have an account?  <a href="/auth/login">login.</a></p>
   
</body>
</html>